<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Creative Design landing page.">
    <meta name="author" content="Devcrud">
    <title> Patient profile</title>

    <!-- font icons -->
    <link rel="stylesheet" href="../static/assets/vendors/themify-icons/css/themify-icons.css">

    <!-- Bootstrap + Creative Design main styles -->
    <link rel="stylesheet" href="../static/assets/css/creative-design.css">

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navbar -->
    <nav id="scrollspy" class="navbar page-navbar navbar-light navbar-expand-md fixed-top" data-spy="affix"
        data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#"><strong class="text-primary">Hospital</strong> <span
                    class="text-dark">icu</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="#home">Home</a> -->
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="#about">About</a> -->
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="#features">Features</a> -->
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="#testmonial">Review</a> -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item ml-md-4">
                        <a class="nav-link btn btn-primary" href="/">log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav><!-- End of Page Navbar -->
    <!-- Page Header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content">
            <p>we work for your comfort </p>
            <h6>Patient Profile</h6>
        </div>
    </header><!-- End of Page Header -->

    <!-- About Section -->
    <!-- <section id="about"> -->
        <!-- Container -->
        <!-- <div class="container"> -->
            <!-- About wrapper -->
            <!-- <div class="about-wrapper">
                <div class="after">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h5 class="title mb-3">Lorem ipsum dolor sit.</h5> -->
                    <!-- row -->
                    <!-- <div class="row">
                        <div class="col">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda soluta nisi cumque
                                nostrum porro repellat iusto neque quos asperiores, aliquam.</p>
                            <p><b>Adipisicing elit. Modi similique iusto voluptatibus sint.</b></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dignissimos modi
                                molestias voluptas possimus perferendis saepe soluta accusantium, obcaecati neque quas
                                ducimus, alias labore nesciunt atque ab voluptatibus quis! Molestiae dicta
                                reprehenderit, quod laborum voluptatem laboriosam! Sapiente vel, fugiat voluptates.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quis!</p>
                        </div>
                        <div class="col">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda soluta nisi cumque
                                nostrum porro repellat iusto neque quos asperiores, aliquam.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quis!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dignissimos modi
                                molestias voluptas possimus perferendis saepe soluta accusantium, obcaecati neque quas
                                ducimus, alias labore nesciunt atque ab voluptatibus quis! Molestiae dicta
                                reprehenderit, quod laborum voluptatem laboriosam! Sapiente vel, fugiat voluptates.</p>
                        </div> -->
                    <!-- </div> --><!-- End of Row -->
                   <!--  <a href="javascript:void(0)">Read More...</a>
                </div> -->
            <!-- </div> --><!-- End of About Wrapper -->
        <!-- </div> --> <!-- End of Container-->+


    <!-- </section> -->
    <!--End of Section -->


    <!-- section --
    <section>
        <!-- Container -->
    <!-- <div class="container">
            <!-- row --
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <div class="after"></div>
                        <img src="assets/imgs/img-1.jpg" class="w-100" alt="About Us">
                    </div>
                </div>
                <div class="col-md-5">
                    <h6 class="title mb-3">Lorem ipsum dolor sit amet, consectetur.</h6>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae autem rem impedit molestiae hic
                        ducimus, consequuntur ullam dolorem quaerat beatae labore explicabo, sint laboriosam aperiam
                        nihil inventore facilis. Quasi, facilis.</p>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, amet!
                    </p>
                    <button class="btn btn-outline-primary btn-sm">Learn More</button>
                </div>
            </div>
            <!-- End of Row --
        </div>
        <!-- End of Container --
    </section><!-- End of Section --
       -->

    <!-- section -->
    <!-- <section>
            <!-- Container --
            <div class="container">
                <!-- Row --
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-5">
                        <h6 class="title mb-3">Lorem ipsum dolor sit amet, consectetur.</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae autem rem impedit molestiae
                            hic
                            ducimus, consequuntur ullam dolorem quaerat beatae labore explicabo, sint laboriosam aperiam
                            nihil inventore facilis. Quasi, facilis.</p>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur,
                            amet!
                        </p>
                        <button class="btn btn-outline-primary btn-sm">Learn More</button>

                    </div>
                    <div class="col-md-6">
                        <div class="img-wrapper">
                            <div class="after right"></div>
                            <img src="assets/imgs/img-2.jpg" class="w-100" alt="About Us">
                        </div>
                    </div>
                </div> End of Row --
            </div><!-- End of Container--
        </section><!-- End of Section -->


    <!-- Features Section -->
    <!-- <section class="has-bg-img" id="features">
        <div class="overlay"></div> -->
        <!-- Button trigger modal
            <a data-toggle="modal" href="#exampleModalCenter">
                <i></i>
            </a>
 -->
        <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document"> -->
                <!---->
                <!-- <div class="modal-content">
                    <iframe width="100%" height="450px" class="border-0"
                        src="https://www.youtube.com/embed/tgbNyZ7vqY?controls=0">
                    </iframe>
                </div>
            </div> -->
        </div><!-- End of Modal -->
    </section><!-- End of features Section -->

    <!-- Section -->
    <section>
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6" >
                    <div class="img-wrapper">
                        <div class="after"></div>
                        <img src="../static/assets/images/p.jpg" class="w-100" alt="About us">
                    </div>
                </div>
                <div class="col-md-5">
                    <h6 class="title mb-3"> Patient Information </h6>

                    <p>Name: {{data.2}} {{data.4}}</p>
                    <p>Gender: {{data.6}}</p>
                    <p>Room:</p>
                    <p>Status: {{data.12}}</p>
                    <p>Appiontment:</p>
                    
                   <!--  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur,
                        amet!
                    </p> -->
                    <!-- <button class="btn btn-outline-primary btn-sm">Learn More</button> -->
                </div>
            </div><!-- End of Row -->
        </div><!-- End of Container-->
    </section><!-- End of Section -->




    <section>
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6" >
                    <div class="img-wrapper" >
                        <div class="after"></div>
                        <img src="../static/assets/images/PR.jpg">
                    </div>
                </div>
                <div class="col-md-5">
                    <h6 class="title mb-3"> Relative contacts</h6>

                    <p>Name: {{relData.1}} {{relData.3}}</p>
                    <p>Gender: {{relData.4}}</p>
                    <p>Phone NO.: 0{{Rphone}}</p>
                    <p>Email: {{email}}</p>
                
                   <!--  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur,
                        amet!
                    </p> -->
                    <!-- <button class="btn btn-outline-primary btn-sm">Learn More</button> -->
                </div>
            </div><!-- End of Row -->
        </div><!-- End of Container-->
    </section><!-- End of Section -->

    <!-- Testmonial Section -->
    <!-- <section class="text-center pt-5" id="testmonial"> -->
        <!-- Container -->
       <!--  <div class="container-fluid">
            <h3 class="mt-3 mb-5 pb-5"> Relatives contacts</h3> -->
            <!-- Row -->
            <!-- <div class="row">
                <div class="col-sm-10 col-md-4 m-auto">
                    <div class="testmonial-wrapper">
                        <img src="../static/assets/images/PR.jpg" alt="Client Image">
                        <h6 class="title mb-3">Name:</h6>
                        <p> Phone NO:</p>
                        <p> Email:</p>
                    </div>
                </div> -->
<!--                 <div class="col-sm-10 col-md-4 m-auto">
                    <div class="testmonial-wrapper">
                        <img src="../static/assets/imgs/avatar2.jpg" alt="Client Image">
                        <h6 class="title mb-3">John Doe</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium voluptates
                            voluptate
                            eum nisi cumque veniam est id reprehenderit atque rerum, cum sit perspiciatis, harum
                            cupiditate nostrum quibusdam perferendis accusamus, illo.</p>
                    </div>
                </div>
                <div class="col-sm-10 col-md-4 m-auto">
                    <div class="testmonial-wrapper">
                        <img src="../static/assets/imgs/avatar3.jpg" alt="Client Image">
                        <h6 class="title mb-3">Kyle Butler</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium voluptates
                            voluptatem
                            eum nisi cumque veniam est id reprehenderit atque rerum, cum sit perspiciatis, harum
                            cupiditate nostrum quibusdam perferendis accusamus, illo.</p>
                    </div>
                </div> -->
            </div><!-- end of Row -->
        </div><!-- End of Cotanier -->
    </section><!-- End of Testmonial Section -->

    <!-- Section -->
   <!--  <section class="has-bg-img text-center text-light height-auto"
        style="background-image: url(../static/assets/imgs/bg-img-2.jpg)">
        <h1 class="display-4">LET’S TALK BUSINESS.</h1>
    </section> --><!-- End of Section -->


    <!-- Contact Section -->
    <section id="contact" class="text-center">
        <!-- container -->
        <div class="container">
            <h1>CONTACT US</h1>
            <p class="mb-5">If you have some Questions or need Help! Please Contact Us! <br>
                We make Cool and Clean Design for your Business</p>

            <!-- Contact form -->
            <form class="contact-form col-md-11 col-lg-9 mx-auto">
                <div class="form-row">
                    <div class="col form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <textarea name="" id="" cols="30" rows="5" class="form-control"
                        placeholder="Your Message"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Send Message">
                </div>
            </form><!-- End of Contact form -->
        </div><!-- End of Container-->
    </section><!-- End of Contact Section -->

    <!-- Section -->
    <section class="pb-0"> 
        <!-- Container -->
        <div class="container">
            <!-- Pre footer -->
             <div class="pre-footer"> 
                 <ul class="list">
                     <li class="list-head">
                        <h6 class="font-weight-bold">ABOUT US</h6>
                    </li>
                    <li class="list-body">
                        <p>we are team 9 form system and biomedical department
                            Faculty of Engnering Cairo University</p>
                        <a href="#"><strong class="text-primary">Creative</strong> <span
                                class="text-dark">Design</span></a>
                    </li> 
                 </ul> 
                <!--  <ul class="list">
                    <li class="list-head">
                        <h6 class="font-weight-bold">USEFUL LINKS</h6>
                    </li>
                    <li class="list-body">
                        <div class="row">
                            <div class="col">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                                <a href="#">Link 4</a>
                            </div>
                            <div class="col">
                                <a href="#">Link 5</a>
                                <a href="#">Link 6</a>
                                <a href="#">Link 7</a>
                                <a href="#">Link 8</a>
                            </div>
                        </div>
                    </li>
                </ul>-->
                <ul class="list">
                    <li class="list-head">
                        <h6 class="font-weight-bold">CONTACT INFO</h6>
                    </li>
                    <li class="list-body">
                        <p>Contact us and we'll get back to you within 24 hours.</p>
                        <p><i class="ti-location-pin"></i> 12345 Fake ST NoWhere AB Country</p>
                        <p><i class="ti-email"></i> info@website.com</p>
                        <div class="social-links">
                            <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                            <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
                        </div>
                    </li>
                </ul>
            </div><!-- End of Pre footer -->

            <!-- foooter -->
            <footer class="footer">
                <p>Copyright
                    <script>document.write(new Date().getFullYear())</script> &copy; <a
                        href="http://www.devcrud.com">team 8</a>
                </p>
            </footer><!-- End of Footer-->

        </div>
        <!--End of Container -->
    </section><!-- End of Section -->

    <!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap affix -->
    <script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Creative Design js -->
    <script src="assets/js/creative-design.js"></script>

</body>

</html>